body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #161629,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #161629,
    #000000,
    #161629
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.page-not-found {
  color: #94a3a8;
}
.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  min-width: 315px;
}

.menu-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  /* background-color: #161629; */
  height: 8vh;
  min-width: 240px;
  width: 100%;
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #161629,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #161629, #000000, #161629);
}

.nav-container {
  display: flex;
  flex-direction: row;
  width: 85vw;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  color: #94a3a8;
}

.right-nav {
  display: flex;
  flex-direction: row;
  width: 45vw;
  justify-content: space-between;
  min-width: 240px;
}

.left-nav {
  display: flex;
  flex-direction: row;
  font-family: Brush Script MT, cursive;
  align-items: center;
  font-size: 2em;
  /* border: 1px solid blue; */
  width: 28vw;
  justify-content: space-between;
}

.loading {
  color: #94a3a8;
  font-size: 4vw;
}

.loading-animation {
  margin-bottom: -43vw;
  width: 100vw;
  min-width: 291px;
}

.images {
  width: 49vw;
  flex-direction: column;
  justify-content: flex-start;
}

.map-image {
  width: 95%;
  margin-bottom: 20px;
  /* border: 4px solid #94a3a8; */
  border-radius: 5%;
}

.album-parent {
  display: flex;
  flex-direction: row;
  width: 72%;
  /* border: 1px solid blue; */
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2vh;
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin-top: 40px;
}

.mobile {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  margin-bottom: -10px;
  flex-direction: column;
  color: #94a3a8;
}

.mobile-img {
  width: 20vw;
  height: auto;
  border-radius: 1.3vw;
}

.mobile-label {
  font-size: 1.5em;
}

.close {
  display: none;
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  animation: openMenu linear forwards 0.3s;
  /* font-size: 3em; */
}

.closed {
  animation: closeMenu linear forwards 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.menu {
  height: 28px;
  display: none;
}

.menu-item {
  display: flex;
  justify-content: center;
  margin: 16px;
  width: auto;
  height: 26px;
  color: #94a3a8;
}

.menu-item-closed {
  display: none;
}

div:link {
  color: #94a3a8;
}
div:visited {
  color: #94a3a8;
}
div:hover {
  color: white;
}

.logo {
  color: #94a3a8;
  text-decoration: none;
  min-width: 200px;
}

.single-image {
  width: auto;
  height: 100vh;
  margin-top: 20px;
}

.single-image-text {
  color: white;
  margin: 5px;
}

.single-picture-container {
  display: flex;
  flex-direction: column;
}

.image-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 730px) {
  .right-nav {
    display: none;
  }
  .album {
    display: none;
  }
  .album-parent {
    flex-direction: column;
    align-items: center;
    margin-top: -8px;
  }
  .mobile {
    display: flex;
    margin: 10px;
    flex-direction: column;
  }
  .mobile-img {
    display: flex;
    width: 90vw;
    margin-bottom: 35px;
    height: auto;
    border-radius: 2.5vw;
  }
  .nav-container {
    justify-content: center;
  }
  .mobile-label {
    font-size: 4.5vw;
  }
  .left-nav {
    width: 100%;
  }
  .menu {
    display: flex;
  }

  .images {
    width: 48.5vw;
    flex-direction: column;
    justify-content: flex-start;

    /* border: orange solid */
  }
  .map-image {
    width: 98%;
    height: auto;
    margin: 0;
    margin-bottom: 10px;
    /* border: black 3px solid; */
  }
  .one {
    margin-right: 5px;
  }
  .images-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-top: 40px;
    /* border: orange 1px solid; */
  }
  .header-menu-wrapper {
    margin-top: 25px;
  }
  .logo {
    font-size: 1.3em;
  }
  .single-image {
    /* max-height: 75vh; */
    width: 100vw;
    height: auto;
    margin-top: 20px;
  }
}

@media (min-width: 730px) {
  .open {
    animation: closeMenu linear forwards 0.3s;
  }
  .menu-item {
    display: none;
  }
}

@media (min-width: 1140px) {
  .loading-animation {
    width: 70vw;
  }
}

@keyframes textAppear {
  from {
    display: none;
  }
  to {
    display: flex;
  }
}

@keyframes closeMenu {
  from {
    display: flex;
    height: 500px;
  }
  to {
    display: none;
    height: 40px;
  }
}

@keyframes openMenu {
  from {
    display: none;
    height: 40px;
    color: rgba(255, 255, 255, 0);
  }
  to {
    display: flex;
    height: 500px;
    font-size: 1.5em;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.92);
}
.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}

.no-popup {
  display: none;
}
