body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #161629,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #161629,
    #000000,
    #161629
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  min-width: 240px;
}

.album-row-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.album-row-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.sunset {
  background-image: url(https://photos.smugmug.com/BEST/i-RtvX54w/0/8608335a/XL/IMG_4961-XL.jpg);
}

.landscape {
  background-image: url(https://photos.smugmug.com/BEST/i-4zVFdRx/0/46ba1e3e/XL/IMG_1921-XL.jpg);
}

.wildlife {
  background-image: url(https://photos.smugmug.com/BEST/i-bJ2r28s/0/11c8a308/X4/IMG_3420-X4.png);
}
.moon {
  background-image: url(https://photos.smugmug.com/BEST/i-6D7jwww/0/dd501db8/X2/IMG_3142-X2.jpg);
}
.travel {
  background-image: url(https://photos.smugmug.com/BEST/i-CPtzCgh/0/fcf73f31/XL/IMG_7379-XL.jpg);
}
.other {
  background-image: url(https://photos.smugmug.com/BEST/i-Nbnc8dK/0/bd6ae82c/XL/IMG_6931-XL.jpg);
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #000000;
  color: #94a3a8;
  height: 8vh;
  min-width: 240px;
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  width: 85vw;
  justify-content: space-between;
}

.right-nav {
  display: flex;
  flex-direction: row;
  width: 45vw;
  justify-content: space-between;
  min-width: 240px;
}

.left-nav {
  font-family: Brush Script MT, cursive;
  font-size: 2em;
  margin-top: -0.7em;
}

.album-parent {
  display: flex;
  flex-direction: row;
  width: 72%;
  /* border: 1px solid blue; */
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5vh;
}
.album {
  display: flex;
  margin: 5px;
  border: 1px solid white;
  width: 21vw;
  min-width: 235px;
  height: 14vw;
  margin-top: 7vh;
  color: #161629;
  font-size: 3em;
  justify-content: center;
  background-size: 21vw;
}

.mobile {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  margin-bottom: -10px;
  flex-direction: column;
  color: #94a3a8;
}

.mobile-img {
  width: 20vw;
  height: auto;
  border-radius: 1.3vw;
}

.mobile-label {
  font-size: 1.5em;
}

@media (max-width: 730px) {
  .right-nav {
    display: none;
  }
  .album {
    display: none;
  }
  .album-parent {
    flex-direction: column;
    align-items: center;
  }
  .mobile {
    display: flex;
    margin: 10px;
    flex-direction: column;
  }
  .mobile-img {
    display: flex;
    width: 60vw;
    height: auto;
    border-radius: 2.5vw;
  }
  .nav-container {
    justify-content: center;
  }
  .mobile-label {
    font-size: 4vw;
  }
}

@media (min-width: 872px) {
}
